version: "3"

volumes:
  postgres_data:
    driver: local

services:
  keycloak:
    image: quay.io/keycloak/keycloak:18.0.2
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: postgres
      DB_DATABASE: keycloak
      DB_USER: postgres
      DB_SCHEMA: public
      DB_PASSWORD: root
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: password
      JAVA_OPTS: -Dkeycloak.profile=preview
      KEYCLOAK_LOGLEVEL: DEBUG
      ROOT_LOGLEVEL: DEBUG
    command:
      - start-dev
    ports:
      - 8080:8080
      - 8443:8443
